
svg {
  overflow: visible;
  width: 100%;
  display: block;
  background: rgb(231, 231, 231);
}

text {
  font-size: 1em;
  font-display: start;
}

.line-path {
  fill: none;
  stroke: slateblue;
  stroke-width: 2;
  stroke-linejoin: round;
}

#root {
  padding: 50px 50px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
}